@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root{
  --ff-primary: "Roboto", sans-serif;
  --spacing: 0.1rem;
  --clr-black: #222;
  --clr-white: #fff;
  --clr-primary: hsl(205, 78%, 60%);
  --clr-primary-2: hsl(205, 86%, 17%);
  --transition: all 0.3s linear;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 620px;

}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  font-size: 0.875rem;
}
nav {
  background: var(--clr-white);
  height: 3rem;
  display: grid;
  align-items: center;
  box-shadow: var(--dark-shadow);
}
.nav-center {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-center h4 {
  margin-bottom: 0;
  color: var(--clr-primary);
}
.nav-links {
  display: flex;
}
nav a {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1rem;
  color: var(--clr-primary-2);
  letter-spacing: var(--spacing);
  margin-right: 1rem;
}
nav a:hover {
  color: var(--clr-primary);
}
main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
  }
  .container {
    text-align: center;
  }
  .container h2 {
    background: var(--clr-black);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: var(--radius);
    margin-bottom: 2.5rem;
  }
  .color {
    color: var(--clr-primary);
  }
  .btn-change {
    font-family: var(--ff-primary);
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  .btn-change:hover {
    color: var(--clr-white);
    background: var(--clr-black);
  }